body{
    /* background-image: url("../img/vivid-blurred-colorful.jpg"); */
   
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    height: 1000px;
}
.navbar{
    width: 100%;
    transition: 0.3s;
}
.navbar-brand img{
    width: 200px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 20px;
    font-size: 16px;
}
.icon_dropmenu{
    color: #f87d25;
}

.left_nav{
    display: flex;
    align-items: center;
    width: 30%;
}
.right_side_nav{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-end;
}
.btn:hover{
    color: #f87e25;   
}
.btn_login{

    color: #f87d25;
}
.btn_Signup{
    color: white;
    background-color: #f87d25;
}
.btn_Signup:hover{
    background-color: black;
    color: white;
}
.nav-link:hover{
    display: inline-block;
    color: #f87e25;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #f87e25;
}
.dropdown_ul{
    padding: 15px;
    float: left;
}
.dropdown_ul li{
    
    list-style: none;
}
.dropdown_ul div h6{
    text-align: left;
    width: 208px;
    padding-bottom: 11px;
    border-bottom: 2px solid #f75d34;
}
.search_sec{
    width: 100%;
    display: inline-block;
    position: relative;
}
.bacground_img img{
  position: absolute;
  width: 100%;
  background-color: #343a40;
  background: url("Assets/img/icon_box_bg.jpg") no-repeat center center;
  background-size: cover;

}
.banner{
    position: relative;
    background-color: #343a40;
    background: url("..//img/web-banner.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60%;
}
.nav_search{
    bottom: 14%;
    left: 12%;
}
.search_bg{
    display: flex;
    background-color: #00000082;
    width: 241vh;
    height: 100px;
    margin-left: 114px;
    position: relative;
    border-radius: 20px;
}
.tab-content{
    bottom: 15%;
}
header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("..//img/icon_box_bg.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 88vh;
  }
  header.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  .nav_location{
    display: inline-block;
    position: relative;
    float: left;
    border-right: 1px solid #b9b9b9;
    width: 20%;
  }
  .nav-tabs{
    border-bottom:none;
  }
  .from_input_section{
    border-radius: 30px;
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;
  }
  
  .nav-tabs{
    background-color:#ffffff00
  }
 .bg_card{
    background-color: #303030ba;
    height: 80px;
    display: block;
    width: 45%;
    position: absolute;
    top: 50%;
 }
 .search_tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 8px;
    right: 130px;
 }
 .search_tab_link{
    color: #fff;
 }
 .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link
 {
    background-color: #ffffff00;
    border: none;
    color: white;
    border-bottom: 2px solid #f87d25;
 }
 .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
    
    color: white;
    border-bottom: 2px solid #f87d25;
    border-top: none;
    border-left: none;
    border-right:none;
 }
 .search_tab_nav{
    display: inline-block;
    position: relative;
    width: 100%;
    left: 20%;
    bottom: 7px;
 }
 .nav_list{
    display: flex;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
 }
 .nav_list li{

 }
 .search_list{
    display: flex;
    position: relative;
    width: 618px;
    background-color: white;
    padding: 20px;
    border-radius: 47px;
    left: 132px;
    flex-direction: column;
 }
 .dropdown_section{
    width: 30%;
    display: flex;
 }
 .nav_search_btn{
    width: 70%;
    display: inline-flex;
    position: relative;
 }
 .btn_dropdown{
    border: none;
    display: flex;
    align-items: center;
 }
 
@media screen and (min-width: 320px) and (max-width:480px){ 
    .navbar-nav {
        padding: 12px;
       text-align: center;
    }
    .navbar .navbar-nav .nav-link{
        display: block;
    }
    .dropdown-menu{
        width: 100% !important;
        height: 112vh !important;
    }
    .dropdown_ul{
        padding: 15px;
        
    }
    .dropdown_ul li{
        display: block;
        list-style: none;
    }
    .user_btn{
        display: flex;
        flex-direction:column;
    }
    .bg_card{
        width: 90%;
    }
    .search_list{
        width: 366px;
        bottom: 7px;
    }
    .btn_search{
        
    }
    .search_tab_nav{
        width: 404px;
        left: 50%;
        overflow-x: hidden;
    }
    .search_tab_link{
        font-size: 12px;
    }
    .nav_search_btn{
        width: 90%;
    }
    .dropdown_section{
        position: absolute;
        display: inline-block;
        top: 104px;
        left: 26%;
    }
    .btn_dropdown{
        color: white;
        background-color: #f75d34;
        border-radius: 30px;
    }
    .btn:hover{
        color: white;
    }
}
@media screen and (min-width: 480px) and (max-width:768px){
    .navbar-nav {
        padding: 12px;
       text-align: center;
    }
    .navbar .navbar-nav .nav-link{
        display: block;
    }
    .dropdown-menu{
        width: 100% !important;
        height: 112vh !important;
    }
    .user_btn{
        display: flex;
        flex-direction:column;
    }
    .dropdown_section{
        position: absolute;
        display: inline-block;
        top: 104px;
        left: 29%;
    }
    .btn_dropdown{
        color: white;
        background-color: #f75d34;
        border-radius: 30px;
    }
    .btn_dropdown .btn:hover{
        color: white;
    }
    .bg_card{
        width: 90%;
    }
    .search_list{
        width: 435px;
        bottom: 3px;
    }
    .nav_search_btn{
        width: 100%;
    }
    .search_tab_nav{
        display: flex;
    position: relative;
    overflow: auto;
    width: 100vh;
    left: 36%;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1024px){
    .bg_card{
        width: 78%;
    }
  }