body{
    /* background-image: url("../img/vivid-blurred-colorful.jpg"); */
   
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    
}
.navbar-brand img{
    width: 200px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 20px;
    font-size: 16px;
}
.icon_dropmenu{
    color: #f87d25;
}

.left_nav{
    display: flex;
    align-items: center;
    width: 30%;
}
.right_side_nav{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: flex-end;
}
.btn:hover{
    color: #f87e25;   
}
.btn_login{

    color: #f87d25;
}
.btn_Signup{
    color: white;
    background-color: #f87d25;
}
.btn_Signup:hover{
    background-color: black;
    color: white;
}
.nav-link:hover{
    display: inline-block;
    color: #f87e25;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #f87e25;
}
.dropdown_ul{
    padding: 15px;
    float: left;
}
.dropdown_ul li{
    
    list-style: none;
}
.dropdown_ul div h6{
    text-align: left;
    width: 208px;
    padding-bottom: 11px;
    border-bottom: 2px solid #f75d34;
}
.search_sec{
    width: 100%;
    display: inline-block;
    position: relative;
}
.bacground_img img{
  position: absolute;
  width: 100%;
  background-color: #343a40;
  background: url("Assets/img/icon_box_bg.jpg") no-repeat center center;
  background-size: cover;

}
.banner{
    position: relative;
    background-color: #343a40;
    background: url("..//img/icon_box_bg.jpg") no-repeat center center;
    background-size: cover;
 
    height: 88vh;
}
header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("..//img/icon_box_bg.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    height: 88vh;
  }
  header.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  .nav_location{
    display: inline-block;
    position: relative;
    float: left;
    border-right: 1px solid #b9b9b9;
    width: 20%;
  }
  .nav-tabs{
    border-bottom:none;
  }
  .from_input_section{
    border-radius: 30px;
    width: 100%;
    display: inline-block;
    float: left;
    position: relative;
    text-align: center;
  }
  .tab-content > .active{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: white; */
    padding: 10px;
    border-radius: 45px;
  }
  .nav-tabs{
    background-color:#ffffff00
  }
 
  
@media screen and (min-width: 320px) and (max-width:480px){
   
    .navbar-nav {
        padding: 12px;
       text-align: center;
    }
    .navbar .navbar-nav .nav-link{
        display: block;
    }
    .dropdown-menu{
        width: 100% !important;
        height: 112vh !important;
    }
    .dropdown_ul{
        padding: 15px;
        
    }
    .dropdown_ul li{
        display: block;
        list-style: none;
    }
    .user_btn{
        display: flex;
        flex-direction:column;
    }
  }
@media screen and (min-width: 480px) and (max-width:768px){
    .navbar-nav {
        padding: 12px;
       text-align: center;
    }
    .navbar .navbar-nav .nav-link{
        display: block;
    }
    .dropdown-menu{
        width: 100% !important;
        height: 112vh !important;
    }
    .user_btn{
        display: flex;
        flex-direction:column;
    }
  }
  